.git
.github
.direnv
.devenv
.idea
.vscode
*.log
backend/vendor
backend/.env
backend/storage/logs/*.log
backend/storage/framework/cache/*
backend/storage/framework/sessions/*
backend/storage/framework/views/*
backend/bootstrap/cache/*.php
frontend/dist/*.wasm
frontend/bin/*

